
@media screen and (max-width: 900px) {
    .grid{
      flex-direction: column;
    }
  
  .link{
    width: 280px;
  }
  
  .menu-container{
    width: 100%;
  }
  }
  
  @media screen and (max-width: 600px) {
  
    .header-main__heading{
      font-size: 3em;
    }
  
    .containt, .menu-container__byline--menu2,
    .menu-container__byline--menu3 {
      padding: 0px 20px;
    }
  
    .svg-menu1__left, .svg-menu1__right{
      width: 26%;
    }
  
    .btn-footer{
      font-size: .8em;
    }
  
  .menu-container__title--menu2{
    font-size: 2em;
  }
  
    .containt-underline__title--menu2{
      font-size: 1.1em;
    }
  
    .svg-left--menu2, .svg-right--menu2{
      width: 20%;
    }
  
    .svg-left--menu3, .svg-right--menu3{
      width: 18%;
    }
  
    .containt-underline__title--menu3{
      font-size: 1.6em;
    }
   
    .containt-underline__title--menu4{
      font-size: 1.4em;
    }
    
    .containt_svg--menu4 {
      padding: 0px;
      width: 20%;
    }
  
    .containt__text--menu4{
      padding: 0px 5px;
    }
  
    .containt_svg--menu4 img{
      width: 100%;
    }
  
    .mention-header__title{
      font-size: 1.5em;
    }
  }