body {
  background-color: #f6f6f6;
}
body .container {
  background-color: white;
}

/*teal*/
/*lime*/
body {
  max-width: 1000px;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-main {
  width: 75%;
  margin-bottom: 50px;
  height: 120px;
  background-color: #009688;
  color: #CDDC39;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-main__heading {
  font-size: 4em;
  margin: 0 auto;
}

.header-main__heading a {
  text-decoration: none;
  color: #CDDC39;
}

.grid {
  width: 70%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
}

.proj-prev {
  box-shadow: 5px 5px 5px #8d8c8c;
  background-color: #e9c9c6;
  margin-bottom: 50px;
  width: 40%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proj-prev__heading {
  padding-top: 10px;
  font-size: 0.8em;
}

.proj-prev {
  background-color: #e9c9c6;
  background-image: url(enchante.html);
  cursor: pointer;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1000ms;
}
.proj-prev:hover {
  transform: scale(1.15);
  background-color: #faeaea;
}

@font-face {
  font-family: "chantelli_antiquaregular";
  src: url("fonts/menu1/chantelli_antiqua-webfont.woff2") format("woff2"), url("fonts/menu1/chantelli_antiqua-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.proj-prev__heading, .proj-prev__byline {
  font-size: 1.2em;
  font-family: "chantelli_antiquaregular";
}

.fa-music {
  background: -webkit-linear-gradient(#f87575, #9b4949);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.proj-prev--menu2 {
  background-color: #f8bee1;
  font-family: "Arial Nova", serif;
  color: chocolate;
  cursor: pointer;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1000ms;
}
.proj-prev--menu2:hover {
  transform: scale(1.15);
  background-color: #f3d5e8;
}

.proj-prev__heading--menu2 {
  background: -webkit-linear-gradient(#f87575, #201eaf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.proj-prev--menu3 {
  background-color: #94f691;
  font-family: "Monotype Corsiva";
  color: #0288D1;
  cursor: pointer;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1000ms;
}
.proj-prev--menu3:hover {
  transform: scale(1.15);
  background-color: #acf7aa;
}

.proj-prev__heading--menu3 {
  background: -webkit-linear-gradient(#f87575, #027ef1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.proj-prev--menu4 {
  background-color: #e6f595;
  font-family: "MV Boli";
  color: #4CAF50;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1000ms;
}
.proj-prev--menu4:hover {
  transform: scale(1.15);
  background-color: #f0f6cf;
}

.proj-prev__heading--menu4 {
  background: -webkit-linear-gradient(#4CAF50, #83dbbc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.artc-prev {
  background-color: #009688;
  color: #CDDC39;
  width: 280px;
  height: 50px;
  border-radius: 8px;
}
.artc-prev__heading {
  text-align: center;
  line-height: 50px;
  font-size: 1.8em;
}

.foot-main {
  width: 75%;
  padding-top: 50px;
}
.foot-main__prev {
  background-color: #009688;
  color: #CDDC39;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.foot-main__heading, .foot-main__contact {
  font-size: 1.5em;
}

/*menu1*/
.menu-header {
  font-size: 2em;
  padding-bottom: 20px;
  margin-top: -10px;
  font-weight: bolder;
}

.menu-container__title {
  font-size: 35px;
  font-weight: bold;
  padding: 10px 0px 40px 0px;
  margin: 0px;
}

.menu-container {
  background-color: #e9c9c6;
  width: 55%;
  padding: 50px 55px;
  padding: 50px 55px 70px 55px;
  text-align: center;
  font-family: "chantelli_antiquaregular";
}

.menu-container__byline {
  margin: 0 auto;
  padding: 20px 0px;
}

.menu-container__text {
  width: 100%;
}

.menu-container__text tr {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.menu-container__line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bolder;
}

.menu-container-line__titl {
  font-weight: bolder;
  font-size: 1.4em;
  margin: auto;
}

.menu-container__footer {
  font-size: 1.5em;
  font-weight: bolder;
}

.enchante-link {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

/*menu2*/

/*# sourceMappingURL=styles.css.map */
