body{
    background-color: #f6f6f6;
    .container{
        background-color: white;
    }
}

@font-face {
    font-family: "chantelli_antiquaregular";
    src: url("fonts/menu1/chantelli_antiqua-webfont.woff2") format("woff2"), url("fonts/menu1/chantelli_antiqua-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @mixin font-family ($menu1) {
      font-family: "chantelli_antiquaregular";
  }

$color-primary: #009688; /*teal*/
$color-ohmyfood: #CDDC39; /*lime*/


body{
    max-width: 1000px;
    margin: auto;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-main{
    width: 75%;
    margin-bottom: 50px;
    height: 120px;   
    background-color: $color-primary;
    color: $color-ohmyfood;
    display: flex;
    align-items: center;
    justify-content: center;
    &__heading{
        font-size: 4em;
        margin: 0 auto;
    }
}

.header-main__heading a{
    text-decoration: none;
    color: #CDDC39;
}

.grid{
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

.proj-prev {
    box-shadow: 5px 5px 5px rgb(141, 140, 140);
    background-color: rgb(233, 201, 198);
    margin-bottom: 50px;
    width: 40%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    &__heading{
        padding-top: 10px;
        font-size: 0.8em;
    }
  }

  .proj-prev{
    font-size: 1.2em;
    font-weight: bolder;
    background-color: rgb(233, 201, 198);
    background-image: url(enchante.html);
    cursor: pointer;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 1000ms;
    &:hover{
        transform: scale(1.15);
        background-color: rgb(250, 234, 234);
    }
  }
  
  .proj-prev__heading, .proj-prev__byline{
    font-size: 1.2em;
    font-family: "chantelli_antiquaregular";
}

.fa-music{
    background: -webkit-linear-gradient(rgb(248, 117, 117), rgb(155, 73, 73));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.proj-prev--menu2{
    background-color: rgb(248, 190, 225);
    font-family: 'Arial Nova', serif;
    color: chocolate;
    cursor: pointer;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 1000ms;
    &:hover{
        transform: scale(1.15);
        background-color:  rgb(250, 230, 242);
    }
  }

.proj-prev__heading--menu2{
    padding: 0px;
    background:linear-gradient(to right, #ce7f63,#a265acda,#3949AB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.proj-prev--menu3{
    background-color: #c6cfd3;
    font-family: 'Monotype Corsiva';
    color: #0288D1;
    cursor: pointer;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 1000ms;
    &:hover{
        transform: scale(1.15);
        background-color: #CFD8DC;
    }
}

.proj-prev__heading--menu3{
    background:linear-gradient(to right, #0e3ca8,#145386,#45bdf5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.proj-prev--menu4{
    background-color:rgb(240, 246, 207);
    font-family: 'MV Boli';
    color: #4CAF50;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 1000ms;
    &:hover{
        transform: scale(1.15);
        background-color: white;
    }
}

.proj-prev__heading--menu4{
    background:linear-gradient(to right,(#2bd330, #83dbbc));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.artc-prev{
    background-color: $color-primary;
    color: $color-ohmyfood;
    width: 280px;
    height: 50px;
    border-radius: 8px;
    &__heading{
        text-align: center;
        line-height: 50px;
        font-size: 1.8em;
   }
}

.foot-main{
    width: 75%;
    padding-top: 50px;
    &__prev{
        background-color: $color-primary;
        color: $color-ohmyfood;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
        
    }
}
.foot-main__heading, .foot-main__contact{
    font-size: 1.5em;
}

                                        /*menu1*/
.menu-header{
    font-size: 2em;
    padding-bottom: 20px;
    margin-top: -10px;
    font-weight: bolder;
}

.menu-container{
    background-color:#e9c9c6;
    width: 65%;
    @include font-family(menu1);
}

.menu-container__head{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 30px 0px;
}

.sec-container{
    padding: 0px 55px;
}

.menu-container__line{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.svg-menu1__right{
    width: 180px;
}

.svg-menu1__left{
    width: 180px;
}

.menu-container__title{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.menu-container__text{
    width: 100%;
}

.menu-container__text tr{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.menu-container-line__titl{
    font-weight: bolder;
    font-size: 1.2em;
    margin: 0 auto;
    
}

.menu-container__footer{
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    padding: 50px 0px;
}

.link{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}
                                     /*menu2*/
                                     
.menu-container--menu2{
    background-color: rgb(250, 230, 242);
}

.proj-prev__heading--menu2{
    padding: 100px 0px 60px 0px;
}

.byline--menu2{
    padding: 20px 80px;
}

.menu-container--menu2 section{
    font-family: 'Times New Roman', Times, serif;
}

.titl--menu2{
    display: flex;
    align-items: center;
}

.svg-left--menu2, .svg-right--menu2{
    width: 220px;
}

.sec-clbrown{
    color: #ce7f63;
}

.sec-clpurple{
    color: #9C27B0;
}

.sec-clindigo{
    color: #3949AB;
    padding-bottom: 80px;
}

                                /*menu3*/

.menu-container--menu3{
    background-color: #CFD8DC;
    padding-bottom: 80px;
}

.menu-container__title--menu3{
    padding: 100px 0px 60px 0px;
}

.sec-container--menu3{
    color: black;
}

.line--menu3{
    padding: 0px 30px;
}

.byline--menu3{
    padding: 30px 80px;
    font-size: 0.9em;
}

.svg-left--menu3, .svg-right--menu3{
   width: 170px;
}

                                /*menu3*/