body{
    background-color: wheat;
    margin: 0px;
    padding: 0px;
   
}

.contaner{
    background-color: white;
    width: 1300px;
    margin: auto;
}

.grid{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
    width: 800px;
    margin: auto;
}

.quote{
    background-color: darkkhaki;
    text-align: right;

}
.proj-prev{
    color: #D6FFF5;
    margin-bottom: 2.5rem;
}

.proj-prev__heading{
    font-size: 4rem;
    padding-left: 2.5rem;
    margin: 0px;
    line-height: 6rem;
}

.proj-prev--mint{
   color: aqua;
}

.proj-prev--yellow{
    color: yellow;
}

.proj-prev--olive{
    color: olive;
}

.proj-prev--crimson{
    color: crimson;
}
.nav {
    padding-right: 6rem;
    text-align: right;
}

.nav__link {
    display: inline;
    font-size: 3rem;
    padding-left: 1.5rem;
}

.nav__link a {
    text-decoration: none;
    color: #d6fff5;
}

.nav__link--active {
    color: grey;
}

.nav__link a:hover{
    color: chartreuse;
}

.btn{
    display: inline-block;
    margin: 0 auto;
    background-color: #15DEA5;
    padding: 1.5rem;
    &--outline {
        background-color: transparent;
        border: 2px solid #15DEA5;
    }
}

.btn2 {
    display: inline-block;
    margin: 0 auto;
    background-color: red;
    padding: 1.5rem;
    &--disabled{
        background-color: grey;
    }
    &--outline{
        background-color: transparent;
        border: solid 2px grey;
        &.btn2--disabled{
            border: 2px solid grey;
        }
    }
  }

  $mint: #15DEA5;
  $pink:#ffa7c2;

@mixin heading-shadow {
    text-shadow: .55rem .55rem #15DEA5;
}

  .form {
    width: 100%;
    padding-bottom: 1.5rem;
    color: red;
}

.form__heading {
    width: 100%;
    color: #fff;
    text-shadow: 0.55rem 0.55rem; color: #11af82;
    background: $mint;
    line-height: 5rem;
    padding: 1.5rem;
}

.form__field label{
    color: pink;
    display: block;
    font-size: 2rem;
    line-height: 2rem;
    padding-top: 1.5rem;
}

.form__field input{
    width: 100%;
    background: #001534;
    border: 0.1rem solid $mint;
    padding: 1.5rem;
    color: #D6FFF5;
}

.form__field textarea {
    width: 100%;
    color: $mint;
    background: #001534;
    border: 0.1rem solid $mint;
    outline: none;
    padding: 1.5rem;
    margin-bottom: 0.75rem;
}

.project{
    &__heading{
        @include heading-shadow;
    }
}

