body{
    background-color: wheat;
    margin: 0px;
    padding: 0px;
   
}

.contaner{
    background-color: white;
    width: 1300px;
    margin: auto;
}

.grid{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
    width: 800px;
    margin: auto;
}

.quote{
    background-color: darkkhaki;
    text-align: right;

}
.proj-prev{
    color: #D6FFF5;
    margin-bottom: 2.5rem;
}

.proj-prev__heading{
    font-size: 4rem;
    padding-left: 2.5rem;
    margin: 0px;
    line-height: 6rem;
}

.proj-prev--mint{
   color: aqua;
}

.proj-prev--yellow{
    color: yellow;
}

.proj-prev--olive{
    color: olive;
}

.proj-prev--crimson{
    color: crimson;
}
.nav {
    padding-right: 6rem;
    text-align: right;
}

.nav__link {
    display: inline;
    font-size: 3rem;
    padding-left: 1.5rem;
}

.nav__link a {
    text-decoration: none;
    color: #d6fff5;
}

.nav__link--active {
    color: #001534;
}

.nav__link a:hover{
    color: chartreuse;
}

.btn{
    display: inline-block;
    margin: 0 auto;
    background-color: #15DEA5;
    padding: 1.5rem;
    &--outline {
        background-color: transparent;
        border: 2px solid #15DEA5;
    }
}

.btn2 {
    display: inline-block;
    margin: 0 auto;
    background-color: #15DEA5;
    padding: 1.5rem;
    &--disabled{
        background-color: grey;
    }
    &--outline{
        background-color: transparent;
        border: solid 2px grey;
        &.btn2--disabled{
            border: 2px solid grey;
        }
    }
  }
  