body {
    margin: auto;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .grid {
    max-width: 700px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }