.header-main {
  width: 100%;
  margin-bottom: 50px;
  height: 120px;
  background-color: $color-primary;
  color: $color-ohmyfood;
  display: flex;
  align-items: center;
  &__heading {
    font-size: 4em;
    margin: 0 auto;
  }
}
.header-main__heading a {
  text-decoration: none;
  color: $color-ohmyfood;
}