.menu-container--menu4 {
    padding-bottom: 80px;
  }
  
  .menu-container__title--menu4 {
    padding: 55px 0px 60px 0px;
    font-size: 2.5em;
  }
  
  .containt--menu4 {
    padding: 0px 0px;
    color: black;
  }
  
  .containt__text--menu4 {
    padding: 20px 70px;
    font-size: 1em;
  }