.menu-cover--menu2, .menu-cover__byline--menu2,
.menu-cover__title--menu2, .containt-underline--menu2,
.containt-underline__title--menu2, .containt__text-menu2{
  font-family: 'font-menu2', serif;
}

.menu-cover__byline--menu2{
  font-size: 1.5em;
}

.menu-container__byline--menu2 {
  padding: 20px 80px;
}

.menu-cover--menu2, .menu-container--menu2{
  background-color: #fae6f2;
}

.sec-clbrown {
  color: #ce7f63;
}

.sec-clpurple {
  color: #9C27B0;
}

.sec-clindigo {
  color: #3949AB;
  padding-bottom: 80px;
}

.subline--menu2-clbrown{
  background-color: #ce7f63;
}

.subline--menu2-clpurple{
  background-color: #9C27B0;
}

.subline--menu2-clindigo{
  background-color: #3949AB;
}

.containt-underline__title--menu2 {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.containt__text-menu2{
  font-size: 0.9em;
}

.svg-left--menu2, .svg-right--menu2 {
  width: 210px;
}