.menu-container--menu3 {
    background-color:   #e6ebebb7;
    padding-bottom: 80px;
  }
  
  .subline--menu3-blue{
    background-color: #123ea5;
  }
  
  .subline--menu3-b_light{
    background-color: #2196F3;
  }
  
  .subline--menu3-b_lighter{
    background-color: #45bdf5;
  }
  
  .menu-container__title--menu3 {
    padding: 100px 0px 60px 0px;
  }
  
  .containt--menu3 {
    color: black;
  }
  
  .containt-underline--menu3 {
    padding: 0px 30px;
  }
  
  .menu-container__byline--menu3 {
    padding: 30px 60px;
    font-size: 0.9em;
  }
  
  .svg-left--menu3, .svg-right--menu3 {
    width: 170px;
  }  