.btn-footer:hover{
    animation: shake 100ms ease-in-out 300ms infinite alternate;
  }
  
  @keyframes shake{
    from{
      transform: rotate(10deg);
    }
    to{
      transform: rotate(-10deg);
      transform-origin: center center;
    }
  }

  .btn-prochainement{
    padding-right: 20px;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .loading span {
    width: 8px;
    height: 8px;
    margin: 0 5px;
    background-color: #fcca46;
    border-radius: 50%;
    display: inline-block;
  }
  
  .artcle-main:hover span {
    animation-name: dots;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  .artcle-main:hover span:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  .artcle-main:hover span:nth-child(3) {
    animation-delay: 0.8s;
  }
  
  @keyframes dots {
    50% {
      opacity: 0;
      transform: scale(0.7) translateZ(10px);
    }
  }