@import "animation";
@import "variables";

body {
  margin: auto;
  width: 100%;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-main {
  width: 100%;
  margin-bottom: 50px;
  height: 120px;
  background-color: $color-primary;
  color: $color-ohmyfood;
  display: flex;
  align-items: center;
}

.header-main__heading {
  font-size: 4em;
  margin: 0 auto;
}

.header-main__heading a {
  text-decoration: none;
  color: $color-ohmyfood;
}

.grid {
  max-width: 700px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu-cover, .menu-container, .menu-cover__title {
  background-color: #fde0dc;
  color: #3a1411;
  font-weight: bolder;
}

.menu-cover__title{
  font-family: 'font-menu1', cursive;
  font-size: 2em;
}

.menu-cover {
  box-shadow: 5px 5px 5px #8d8c8c;
  margin-bottom: 50px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-cover:hover .menu-cover__opac{
  transform: scale(1.2);
  opacity: 0.8;
}

.menu-cover__opac{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
}

.menu-cover__imgnote{
  width: 60px;
}

.link {
  width: 40%;
  text-decoration: none;
}

 .menu-cover__byline, .containt-underline__title, 
 .containt__text, .menu-container__footer {
  font-family: 'font-menu1', cursive;
  font-size: 1.3em;
}

.containt-underline

.menu-cover__byline{
  font-size: 1.5em;
}

.menu-cover--menu2 {
  color: chocolate;
}

.menu-cover__title--menu2 {
  font-size: 1.3em;
  background: linear-gradient(to right, #ce7f63, #a265acda, #3949AB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-container__title--menu2{
  padding: 100px 0px 60px 0px;
}

.menu-cover--menu3 {
  background-color: #e6ebebb7;
  color: #0288D1;
}

.menu-cover__title--menu3 {
  font-size: 1.8em;
  background: linear-gradient(to right, #0e3ca8, #145386, #45bdf5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-cover__title--menu3, .menu-cover__byline--menu3,.menu-container__title--menu3,
.containt-underline__title--menu3, .menu-container__byline--menu3 {
  font-family: 'font-menu3', cursive;
}

.menu-cover__byline--menu3{
   font-size: 1.8em;
}

.containt__text--menu3{
  font-size: 1.5em;
}

.menu-cover--menu4 {
  background-color: #FDFFFD;
  color: #41963c;
}

.menu-cover--menu4, .menu-cover__byline--menu4, .menu-cover__title--menu4,
.containt-underline__title--menu4, .containt__text--menu4{
  font-family: 'font-menu4', cursive;
}

.menu-cover__title--menu4 {
  background: linear-gradient(to right, #41963c, #b4f679);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8em;
}

.containt_svg--menu4{
  padding: 0px 10px;
}

.containt-underline__title--menu4 {
  font-size: 1.6em;
}

.containt-underline--menu4{
  text-align: center;
  font-size: 1em;
}

.subline--menu4{
  background: linear-gradient(to right, #41963c, #cdf8e9);
}

.artcle-main {
  background-color: $color-primary;
  color: $color-ohmyfood;
  width: 280px;
  height: 50px;
  margin-bottom: 140px;
  border-radius: 8px;
}
.artcle-main__heading {
  text-align: center;
  line-height: 50px;
  font-size: 1.8em;
}

.foot-main {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 50px;
}
.foot-main__prev {
  background-color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.btn-footer a{
  text-decoration: none;
  color: $color-ohmyfood;
  font-size: 1.5em;
}

/*menu1*/
.header-main__subtitle {
  font-size: 2em;
  padding-bottom: 40px;
  margin-top: -10px;
  font-weight: bolder;
}

.menu-container {
  width: 700px;
  margin-bottom: 150px;
  font-family: 'Playfair Display', serif;
  color: #5e211b;
}

.menu-container{
  box-shadow: 0px 0px 10px -3px #8d8c8c;
}

.menu-container__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px 30px 0px;
}

.containt {
  padding: 0px 55px;
}

.containt-underline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.svg-menu1__right, .svg-menu1__left  {
  width: 35%;
}

.menu-container__title {
  font-size: 2.5em;
  text-align: center;
  margin: 0 auto;
}

.menu-container__title, .menu-container__notetext{
  font-family: 'font-menu1__title', cursive;
  font-weight:  500;
}

.menu-container__notetext{
  font-size: 1.4em;
}

.containt__text {
  width: 100%;
  text-align: left;
}

.containt__text tr {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.containt-subline {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.containt-underline__title {
  font-weight: bolder;
  font-size: 1.7em;
  margin: 0 auto;
  cursor: pointer;
}

.containt-subline-titl__subline {
  background-color:#5e211b;
  width: 100%;
  height: 1px;
  border-radius: 30%;
  transform: scale(0.0);
  transition: transform 400ms;
  transition-timing-function: ease-in-out;
  transition-delay: 100ms, 0s;
}

.containt-underline__title:hover + .containt-subline-titl__subline{
  transform: scaleX(1);
  transform-origin: left 50%;
  height: 2px;
}

.menu-container__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bolder;
  padding: 50px 0px;
}

/*menu2*/
.menu-cover--menu2, .menu-cover__byline--menu2,
.menu-cover__title--menu2, .containt-underline--menu2,
.containt-underline__title--menu2, .containt__text-menu2{
  font-family: 'font-menu2', serif;
}

.menu-container__byline--menu2 {
  padding: 20px 80px;
}

.menu-cover--menu2, .menu-container--menu2{
  background-color: #fae6f2;
}

.sec-clbrown {
  color: #ce7f63;
}

.sec-clpurple {
  color: #9C27B0;
}

.sec-clindigo {
  color: #3949AB;
  padding-bottom: 80px;
}

.subline--menu2-clbrown{
  background-color: #ce7f63;
}

.subline--menu2-clpurple{
  background-color: #9C27B0;
}

.subline--menu2-clindigo{
  background-color: #3949AB;
}

.containt-underline__title--menu2 {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.containt__text-menu2{
  font-size: 0.9em;
}

.svg-left--menu2, .svg-right--menu2 {
  width: 210px;
}

/*menu3*/
.menu-container--menu3 {
  background-color:   #e6ebebb7;
  padding-bottom: 80px;
}

.subline--menu3-blue{
  background-color: #123ea5;
}

.subline--menu3-b_light{
  background-color: #2196F3;
}

.subline--menu3-b_lighter{
  background-color: #45bdf5;
}

.menu-container__title--menu3 {
  padding: 100px 0px 60px 0px;
}

.containt--menu3 {
  color: black;
}

.containt-underline--menu3 {
  padding: 0px 30px;
}

.menu-container__byline--menu3 {
  padding: 30px 60px;
  font-size: 0.9em;
}

.svg-left--menu3, .svg-right--menu3 {
  width: 170px;
}

/*menu3*/
.menu-container--menu4 {
  background-color: #FDFFFD;
  padding-bottom: 80px;
}

.menu-container__title--menu4 {
  padding: 55px 0px 60px 0px;
  font-size: 2.5em;
}

.containt--menu4 {
  padding: 0px 0px;
  color: black;
}

.containt__text--menu4 {
  padding: 20px 70px;
  font-size: 1em;
}

.artcle-main {
  display: flex;
  align-items: center;
  justify-content: center;
}


.container--mention{
  width: 80%;
  padding-bottom: 100px;
}

.mention-header__title{
  font-size: 2em;
}

.mention-text {
 list-style-type: none;
 padding-left: 0px;
}

@media screen and (max-width: 900px) {
  .grid{
    flex-direction: column;
  }

.link{
  width: 280px;
}

.menu-container{
  width: 100%;
}
}

@media screen and (max-width: 600px) {

  .header-main__heading{
    font-size: 3em;
  }

  .containt, .menu-container__byline--menu2,
  .menu-container__byline--menu3, {
    padding: 0px 20px;
  }

  .svg-menu1__left, .svg-menu1__right{
    width: 26%;
  }

  .btn-footer{
    font-size: .8em;
  }

.menu-container__title--menu2{
  font-size: 2em;
}

  .containt-underline__title--menu2{
    font-size: 1.1em;
  }

  .svg-left--menu2, .svg-right--menu2{
    width: 20%;
  }

  .svg-left--menu3, .svg-right--menu3{
    width: 18%;
  }

  .containt-underline__title--menu3{
    font-size: 1.6em;
  }
 
  .containt-underline__title--menu4{
    font-size: 1.4em;
  }
  
  .containt_svg--menu4 {
    padding: 0px;
    width: 20%;
  }

  .containt__text--menu4{
    padding: 0px 5px;
  }

  .containt_svg--menu4 img{
    width: 100%;
  }

  .mention-header__title{
    font-size: 1.5em;
  }
}