.header-main__subtitle {
  font-size: 2em;
  padding-bottom: 20px;
  margin-top: -10px;
  font-weight: bolder;
}
.menu-container {
  width: 700px;
  margin-bottom: 150px;
  color: #5e211b;
  box-shadow: 0px 0px 10px -3px #8d8c8c;
  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 30px 0px;
  }
}
.containt {
  padding: 0px 55px;
  &-underline {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.svg-menu1__right, .svg-menu1__left {
  width: 35%;
}
.menu-container__title {
  font-size: 2.5em;
  text-align: center;
  margin: 0 auto;
}
.menu-container__title, .menu-container__notetext{
  font-family: 'menu1-Devonshire-Reg__title', cursive;
  font-weight:  500;
}
.containt__text {
  width: 100%;
  text-align: left;
}
.containt__text tr {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.containt-subline {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.containt-underline__title {
  font-weight: bolder;
  font-size: 1.7em;
  margin: auto;
}
.containt-subline-titl__subline {
  background-color:#5e211b;
  width: 100%;
  height: 2px;
  border-radius: 30%;
  transform: scale(0.0);
  transition: transform 400ms;
  transition-timing-function: ease-in-out;
  transition-delay: 100ms, 0s;
} 
.containt-underline__title:hover + .containt-subline-titl__subline{
  transform: scaleX(1);
  transform-origin: left;
}
.menu-container__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bolder;
  padding: 50px 0px;
}
.menu-container__notetext{
  font-size: 1.4em;
}