.menu-cover--menu2, .menu-cover__byline--menu2,
.menu-cover__title--menu2, .containt-underline--menu2,
.containt-underline__title--menu2, .containt__text-menu2{
  font-family: 'menu2-lora-vf', serif;
}
.menu-cover__byline--menu2{
  font-size: 1.5em;
}
.menu-container__byline--menu2 {
  padding: 20px 80px;
}
.menu-cover--menu2, .menu-container--menu2{
  background-color: $bcmenu2;
}
.sec-clpurple {
  color: $cmenu2-part2;
}
.sec-clindigo {
  color: $cmenu2-part3;
  padding-bottom: 80px;
}
.subline--menu2-clbrown{
  background-color: $cmenu2-part1;
}
.subline--menu2-clpurple{
  background-color: $cmenu2-part2;
}
.subline--menu2-clindigo{
  background-color: $cmenu2-part3;
}
.containt-underline__title--menu2 {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}
.containt__text-menu2{
  font-size: 0.9em;
}
.svg-left--menu2, .svg-right--menu2 {
  width: 210px;
}