.menu-container--menu3 {
    padding-bottom: 80px;
  }
  
  .subline--menu3-blue{
    background-color: $cmenu3-part1;
  }
  
  .subline--menu3-b_light{
    background-color: $cmenu3-part2;
  }

  .subline--menu3-b_lighter{
    background-color: $cmenu3-part3;
  }
  
  .menu-container__title--menu3 {
    padding: 100px 0px 60px 0px;
  }
  
  .containt--menu3 {
    color: black;
  }
  
  .containt-underline--menu3 {
    padding: 0px 30px;
  }
  
  .menu-container__byline--menu3 {
    padding: 30px 60px;
    font-size: 0.9em;
  }
  
  .svg-left--menu3, .svg-right--menu3 {
    width: 170px;
  }  