@font-face {
  font-family: 'menu1-caveat-Bold';
  src: url("../fonts/menu1/Caveat-Bold.ttf"), url("../fonts/menu1/Caveat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'menu1-Devonshire-Reg__title';
  src: url("../fonts/menu1/title/Devonshire-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'menu2-lora-vf';
  src: url("../fonts/menu2/Lora-VariableFont_wght.ttf"), url("../fonts/menu2/Lora-Italic-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'menu3-dancingscpt-reg';
  src: url("../fonts/menu3/DancingScript-Regular.ttf"), url("../fonts/menu3/DancingScript-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'menu4-kalem-reg';
  src: url("../fonts/menu4/Kalam-Regular.ttf"), url("../fonts/menu4/Kalam-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}