$color-primary: #009688; 
$color-ohmyfood: #fcca46;

$bcmenu1: #fde0dc;
$cmenu1: #3a1411;

$bcmenu2: #fae6f2;
$cmenu2-title__gradient: linear-gradient(to right, #ce7f63, #a265acda, #3949AB);
$cmenu2-part1: #ce7f63;
$cmenu2-part2: #9C27B0;
$cmenu2-part3: #3949AB;

$bcmenu3: #e6ebebb7;
$cmenu3-title__gradient: linear-gradient(to right, #0e3ca8, #145386, #45bdf5);
$cmenu3-part1: #123ea5;
$cmenu3-part2: #2196F3;
$cmenu3-part2: #45bdf5;

$bcmenu4: #FDFFFD;
$cmenu4-title__gradient: linear-gradient(to right, #41963c, #b4f679);
$cmenu4: #41963c;